site_name: Google DataTable Sync Docs
site_url: https://sovahero.github.io/Unreal-GoogleDataTableSync/
repo_url: https://github.com/sovahero/Unreal-GoogleDataTableSync
repo_name: GitHub
edit_uri: edit/main/docs/

theme:
  name: material
  language: en
  logo: assets/Logo512.png
  favicon: assets/Logo512.png
  features:
    - navigation.instant
    - navigation.sections
    - navigation.expand
    - toc.integrate
    - content.code.copy
    - search.suggest
    - search.highlight
    - content.action.edit
  palette:
    - scheme: slate
      primary: teal
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - scheme: default
      primary: teal
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
  font:
    text: 'Roboto'
    code: 'Roboto Mono'

extra:
  social:
    - icon: fontawesome/solid/shopping-cart
      link: https://your-fab-link.com
      name: Purchase on Fab
    - icon: fontawesome/brands/discord
      link: https://discord.gg/YOUR_INVITE_CODE
      name: Join Discord
    - icon: fontawesome/brands/github
      link: https://github.com/sovahero/Unreal-GoogleDataTableSync
      name: GitHub Repository

nav:
  - Overview: index.md
  - Quick Start: quickstart.md
  - Installation & Setup:
      - Google API Credentials: setup-google-oauth.md
      - Plugin Settings: plugin-settings.md
  - Workflow:
      - Export: export.md
      - Import: import.md
      - Complex Data Types: complex-data-types.md

plugins:
  - search

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      linenums: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - attr_list
  - md_in_html